

.heading {
    margin: auto;
    text-align: center;
    /* width: 250px; */
}
.heading img {
    width: 30px;
    height: 30px;
}

.heading h1 {
    margin: 0;
    font-size: 30px;
    color: #034C53;
    font-weight: 300;
    border-bottom: 1px solid #034C53;
    padding-bottom: 5px;
}


